#bottom2{
	background-color: #292929;
	height: 266px;
	width: 1349px;
	float: left;
}
.bottom2all{
	margin: 0 auto;
	width: 1200px;
	margin-top: 31px;
	height: 201px;
}
.bottom2_left{
	width: 310px;
	height: 201px;
	float: left;
	border-right: 3px solid #393939;
}
.bottom2_left ul{
	float: left;
	margin-top: 24px;
}
.bottom2_left a{
	color: #737373;
}
.bottom2_center{
	width: 310px;
	height: 201px;
	float: left;
	/*margin-top: 31px;*/
	border: none;
	border-right: 3px solid #393939;
}
.bottom2_center ul{
	margin-left: 50px;
	margin-top: 12px;
	height: 35px;
}
.we{
	color: white;
}
.icon{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: white;
	float: left;
	margin-left: 8px;
}
.web{
	margin-top: 9px;
	margin-left:9px;
}
.tip{
	background-color: transparent;/*输入框是透明背景*/
	border-width: 1px;/*输入框边框是细边框*/
	outline: none;/*输入框蓝色轮廓去掉*/
	color:white;
	margin-top: 17px;
	height: 33px;
	float: left;
	padding-left: 5px;
}
.go{
	background: linear-gradient(to right,#ff2e65,#ff5a3d);
	width: 35px;
	height: 35px;
	border: 0;
	outline: none;
	cursor: pointer;
	color: white;
	float: left;
	margin-top: 17px;
}
.bottom2_right {
    width: 344px;
    float: left;
    margin-top: 33px;}
    
.logo1{
    float:left;
     margin-top: 56px;
     margin-left: 105px;
} 
.logo2{
    margin-left:185px;
    float: left;
}
.over {
    color: #737373;
    font-family: arial;
    font-size: 12px;
    float: right;
    margin-top: 27px;
}