.home_start{
		width: 1349px;
		height: auto;
	}
$background:#ddd;
#center{
		width: 1200px;
		height: 1041px;
		margin: 0 auto;
		// background-color:$background;
	}
#center>div{
	width: 400px;
	height: 339px;
	float: left;
	// background-color: aquamarine;
}
#square4{
	width: 200px;
	height: 132px;
	border: 5px solid transparent;
	border-image: -webkit-linear-gradient(red,yellow) 30 30;
	margin-top: 37px;
	margin-left: 13px;
	float: left;
}
#square4 ul{
	margin-top: 30px;
	margin-right:23px;
	width: auto;
	float: right;
}
#square4 li{
	font-weight: 700;
	color: #f92d2d;
	font-family: arial;
	text-align: right;
	font-size: 30px;
}
.center_2{
	width: 318px;
	height: auto;
	margin: 56px auto 0;
	font-family: "微软雅黑";
	color: #3e3e3e;
	font-size: 14px;
	line-height: 22px;
}
.ul{
	margin-top: 126px;
}
.ul li{
	font-size: 100px;
	font-family: arial;
	text-align: right;
	font-weight: bold;
		color: #efefef;
}
#square2{	
	background:linear-gradient(to right,#ff2f63,#ff583d);
}
#square2 ul{
	position: relative;
	top: 103px;
	margin-left: 44px;
}
#square2 li{
	font-weight: 700;
	color: white;
	font-family: arial;
	text-align: left;
	font-size: 22px;
}
#word2{
	width: 318px;
	height: auto;
	margin: 73px auto 0;
	font-family: "微软雅黑";
	color: #3e3e3e;
	font-size: 14px;
	line-height: 22px;
}
.center_3{
	// background-image: url(../img/home_img/pacture43.jpg);
}
.last{
	width: 800px !important;
}
.last ul{
	margin: 64px auto 0;
	width: 538px;
}
.last li{
	text-align: center;
	font-family: "微软雅黑";
	color: #3e3e3e;
	font-size: 14px;
	line-height: 22px;
}
.last_word3{
	margin-top: 41px;
}
#bg_square1{
	width: 200px;
	height: 132px;
	border: 5px solid #ff0000;
	margin: 64px auto 0 15px;
}
#bg_square1 ul{
	margin: 40px auto 0 auto;
}
#bg_square1 li{
	color: #ff3c59;
	font-size: 30px;
	width: 153px;
	font-family: arial;
	font-weight: bold;
	text-align: right;
}
#bottmo_TU{
	width: 1207px;
	height: 576px;
	margin: 0 auto;
}
.TU_satr{
	// background-image:url(../img/pacture-40.jpg);
	float: left;
	width: 358px;
	height: 541px;
}
#TU_left{
	width: 849px;
	height: 540px;
	float: left;
}
.left_1{
	background:linear-gradient(to right,#ff2f63,#ff583d);
	width: 256px;
	height: 270px;
	float:left;
}
.left_1 ul{
	margin: 87px auto 0;
}
.Mword1{
	color:#FFF;
	text-align:center;
	font-family:"微软雅黑";
	font-weight:600;
	font-size:18px;}
.Mword2{
	color:#FFF;
	font-size:14px;
	margin-top: 23px;
	font-family:"微软雅黑";}
.left_2{
	width: 295px;
	height: 270px;
	float:left;
}
.left_3{
	width: 258px;
	height: 270px;
	float:left;
}
.img{
	vertical-align: top;
}
.double{
	width: 518px;
	float: left;
}
#bg_square{
	width: 549px;
	height: 78px;
    margin: 98px auto 0;
	border: 5px solid #ff5442;	
}
.bg_word{
	text-align: center;
	color: #f92d2d;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	margin-top: 25px;
}
#word4{
	width: 100%;
	height: auto;
	margin: 72px auto 0;
	font-size:14px;
	font-family:"微软雅黑";
	color: #3e3e3e;
}
#button{
	width: 414px;
	height: 56px;
	margin: 85px auto 0;
}
.sign1{
	width: 170px;
	height: 56px;
	background:linear-gradient(to right,#ff2f63,#ff583d);
	color: white;
    font-family: "微软雅黑";
    font-size: 18px;
    border: 0;   
    outline: none;
    cursor: pointer;
}
.sign2{
	width: 170px;
	height: 56px;
	color: #3e3e3e;
    font-family: "微软雅黑";
    font-size: 18px;
    border: 3px solid #777777;   
    margin-left: 69px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
#square_last{
	width: 879px;
	height: 142px;
	margin: 78px auto 0;
	border: 5px solid #ff5442;
}
.last_word1{
	width: 666px;
	height: auto;
	margin: 14px auto 0;
	color:#f92d2d;
	font-family: "微软雅黑";
    font-size: 24px;
}
.last_word2{
	width: 1200px;
	height:38px;
	margin: 43px auto 0 auto ;
	color:#3e3e3e;
	font-family: "微软雅黑";
    font-size: 14px;
}
.last_word2 p{
	float: right;
	text-align: left;
}
#bottom{
	height: 45px;
	width: 100%;
	background-color: #ff4351;
	margin-top: 162px;
	vertical-align: top;
}
.arr {
	font-family:  "微软雅黑";
	font-size: 14px;
	color: #ffffff;
}
#bottom1{
	width: 100%;
	height: 500px;
	background: #333333;
	float: left;
}
#Bpacture{
	width: 969px;
	height: 500px;
	float: left;
}
#Bpacture>img{
	width: 969px;
	height: 500px;
}
#cal{
	width: 360px;
	height: 268px;	
	float: left;
	margin-top: 113px;
	margin-left: 20px;
}
.a{
	color: white;
	font-family: "微软雅黑";
    font-size: 24px;
  }  
.tip1{
	background-color: transparent;/*输入框是透明背景*/
	border-width: 1px;/*输入框边框是细边框*/
	outline: none;/*输入框蓝色轮廓去掉*/
	margin-top: 35px;
	color: white;
}
.button_last{
	width: 91px;
	height: 33px;
	background:linear-gradient(to right,#ff2f63,#ff583d);
	color: white;
    font-family: "微软雅黑";
    font-size: 14px;
    border: 0;   
    outline: none;
    cursor: pointer;
}
