*{
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}
$red:rgb(254,67,101);
$lightred:rgb(252,257,154);
$yellow:rgb(131,175,155);
$lightgreen:rgb(200,200,169);
$green:rgb(46,139,87);
$lightg:rgb(220,20,60)
