#top_pacture{
	width: 100%;
	min-width: 1200px;
	height: 300px;
	/* float: left; */
	background-position: center center;
	background-image: url(../img/news_img/pa41.jpg);

}
.top_word{
	width: 374px;
	height: 122px;
	margin-left: 100px;
	margin-top: 60px;
	float: left;   
}
.word_E{
	font-family: arial;
	font-size: 72px;
	text-align: center;
	height: 72px;
	/* 文字渐变 */
	background-image: -webkit-linear-gradient(left,#ff2c66,#ff5b3d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.word_square{
	background: linear-gradient(to right,#ff2e65,#ff5a3d);
	height: 51px;
	width: 374px;
	float: left;
}
.word_dis{
	color: white;
	font-size: 24px;
	line-height: 51px;
	text-align: center;
}
.center{
	width: 100%;
	height: auto;
}
.center_left{
	width: 820px;
	height: auto;
	margin: 60px 20px 0 20px;
	float: left;
}
.center_left>div{
	width: 820px;
	height: auto;
	float: left;
	/* background-color: aquamarine; */
	overflow: hidden;
}
.center_left>div>p{
	width: 100%;
	/* background-color: blanchedalmond; */
}
.time{
	color: #afafaf;
	height: 20px;
	font-size: 20px;	
	line-height: 20px;
	text-align: right;
}
.new1{
	font-family: "微软雅黑";
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
	/* background-color:#CCCCCC; */
}
.new2{
	width: 820px;
	height:auto;
	float: left;
	margin-top:30px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #4e4e4e;
	line-height: 20px;
	text-indent: 2em;
	/* background-color:#CCCCCC; */
}
.new img{
	width: 820px;
	height: auto;
}
#center_right{
	float: right;
	width: 268px;
	height: 459px;	
	border: 1px solid #ff2c66;
	margin: 60px 30px;
}
.new{
	height: 52px;
	font-size: 30px;
	line-height: 52px;
	color: #fff;
	font-family: "微软雅黑";
	text-align: center;
	border-bottom:1px solid #ff2c66;
	background: linear-gradient(to right,#ff2e65,#ff5a3d);
}
#center_right ul li{
	width: 268px;
	height: 40px;
	line-height: 37px;
	
}
#center_right a{
	color: #3e3e3e;
	display: inline-block;
	padding-left: 5px;
	width: 268px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#center_right a:hover{
	color: #ff4352;
}
.lastestNews{
	width: 269px;
	height: 69px;
	margin-left:109px ;
	float: left;
	border: 0;
	background: linear-gradient(to right,#ff2e65,#ff5a3d);
	cursor: pointer;
	color: white;
	font-size: 24px;
}