#center{
	margin-top: 59px;
	width: 1200px;
	margin: 0 auto;
	height: auto;
	/* background-color: aqua; */
}
#center>div{
	height: 338px;
	margin-top: 10px;
}
#bb{
	width: 1201px;
	margin: 0 auto;
	height: auto;
}
#bb div{
	width: 1201px;
	height: 338px;
	margin-top: 20px;
	float: left;
}
.bb1{
	width: 791px;
	height: 338px;
	float: left;
}
.bb2{
	width: 409px !important;
	height: 338px;
	margin: 0  !important;
	float: left ;
	background: linear-gradient(to left,#ff593f,#ff2c66);
}
.bb2_word{
	width: 100%;
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 24px;
	color: white;
	margin-top: 65px;

	}
.bb2_btn{
	display: inline-block;
	width: 83px;
	height: 26px;
	line-height: 26px;
	background: transparent;
	border: 1px solid white;
	cursor: pointer;
	margin-top: 96px;
	float: right;
	margin-right: 42px;
	color: white;
	text-align: center;
}