/* 导航部分 */
#top{
	width: 1203px;
	height: 90px;
	margin: 0 auto;
}
.logo_img{
	margin-top: 16px;
	margin-left: 13px;
	float: left;
}
#nav{
	width: 628px;
	height: 14px;
	float: left;
	margin-left: 116px;
	margin-top: 38px;
}

#nav ul{
	width: 628px;
	height: 14px;
	float: left;
}
#nav li{
	float: left;
	height: 14px;
	margin-right: 39px;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 14px;
	}
.aaa{
	float: right;
	width: 150px;
	height: 30px;
	display: inline-block;
	margin-top: 38px;
}
.aaa>img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
}
.aaa>span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	color: #4E4E4E;
}
.sign{
	background: transparent;
	border: 0;
	float: right;
	margin-top: 38px;
	margin-right: 10px;
	color: #959595;
	outline: none;
	cursor: pointer;
}

